<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink='/' routerLinkActive='active'>App</a>
      
        <ul class="nav navbar-nav me-auto">
          <ng-container  *ngIf="accountService.currentUser$| async">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink='/members' routerLinkActive='active'>MATCHES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/lists' routerLinkActive='active'> LISTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/messages' routerLinkActive='active'>MESSAGES</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$| async) as user" dropdown>
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
          <a class="text-light dropdown-toggle ml-2" dropdownToggle>Welcom {{user.knownAs | titlecase}}</a>
          <div class="dropdown-menu  mt-3"*dropdownMenu>
            <a href="" class="dropdown-item" routerLink='member/edit' routerLinkActive='active'>edit profile</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item" (click)="logout()">logout</a>
          </div>
        </div>
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit) = "login()" 
        autocomplete="off">
          <!--
            "(accountService.currentUser$ | async) === null" = ASYNC PIPE
            #loginForm="ngForm" = tamplate referenc variable, ngForm means its an Anguler form
            (ngSubmit) = "login()" = by makeing anguler from we get method to submit form data
             autocomplete="off"
          -->
          <input
          name="username"
          [(ngModel)]="model.username"  
          class="form-control me-2"
          type="text" placeholder="Username">
          <!--
            name="username" = giev input a name for tow ways binding
            [(ngModel)]="model.username" = squer pracets used for receiving from the compmnent,
            the parentheses when data gose the aouther way
          -->
          <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password" placeholder="Password">
          <button class="btn btn-success" type="submit">LOGIN</button>
        </form>
      </div>
   
  </nav>